*.iml
*.log*
*.pyc
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*~
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.flowconfig
.grunt
.idea
.module-cache
.pnp.js
.vscode
/.pnp
/coverage
/frontend/build
_SpecRunner.html
__benchmarks__
build/
chrome-user-data
coverage/
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
node_modules
node_modules/
npm-debug.log*
packages/react-devtools-core/dist
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/shared/build
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-timeline/dist
remote-repo/
scripts/flow/*/.flowconfig
test/the-files-to-test.generated.js
yarn-debug.log*
yarn-error.log*.DS_STORE